{% extends "layout.html" %}

{% block title %}
    Upload Syllabus
{% endblock %}

{% block main %}

    <h1 class="text-center">Upload Syllabus</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" class="mx-auto" style="max-width: 400px;" onsubmit="showLoadingSpinner()">
        
        <div class="mb-2">
            <input type="file" class="form-control" id="syllabus" name="file" style="width: 100%;" required>
        </div>

        <button class="btn btn-success mx-auto d-block" type="submit">Upload</button>
    </form>

{% endblock %}